<a href="https://colab.research.google.com/github/the-confused-genius/housingprice-dataframe/blob/main/housing_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This project was soly done by Mohammed Adnan Khan

---


The provided csv was copied and stored in my github repo and the data has been fetched from there 

---
This code automates (teaches) the machine to predict the prices of the house depending on the given parameters

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import re 
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv('https://github.com/the-confused-genius/housingprice-dataframe/raw/main/Housing%20Dataset.csv')
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
model = LinearRegression()

In [6]:
print("The dimension of the data frame : " + str(df.ndim))

The dimension of the data frame : 2

In [7]:
print(df.mainroad.value_counts())
print(df.guestroom.value_counts())
print(df.basement.value_counts())
print(df.hotwaterheating.value_counts())
print(df.airconditioning.value_counts())
print(df.prefarea.value_counts())
print(df.furnishingstatus.value_counts())

yes    468
no      77
Name: mainroad, dtype: int64
no     448
yes     97
Name: guestroom, dtype: int64
no     354
yes    191
Name: basement, dtype: int64
no     520
yes     25
Name: hotwaterheating, dtype: int64
no     373
yes    172
Name: airconditioning, dtype: int64
no     417
yes    128
Name: prefarea, dtype: int64
semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [8]:
df.mainroad = df.mainroad.replace(to_replace = 'yes',value = 1)
df.mainroad = df.mainroad.replace(to_replace = 'no',value = 0)

df.guestroom = df.guestroom.replace(to_replace = 'yes',value = 0)
df.guestroom = df.guestroom.replace(to_replace = 'no',value = 1)

df.basement = df.basement.replace(to_replace = 'yes',value = 0)
df.basement = df.basement.replace(to_replace = 'no',value = 1)

df.hotwaterheating = df.hotwaterheating.replace(to_replace = 'yes',value = 0)
df.hotwaterheating = df.hotwaterheating.replace(to_replace = 'no',value = 1)

df.airconditioning = df.airconditioning.replace(to_replace = 'yes',value = 0)
df.airconditioning = df.airconditioning.replace(to_replace = 'no',value = 1)

df.prefarea = df.prefarea.replace(to_replace = 'yes',value = 1)
df.prefarea = df.prefarea.replace(to_replace = 'no',value = 0)

df.furnishingstatus = df.furnishingstatus.replace(to_replace = 'unfurnished',value = 0)
df.furnishingstatus = df.furnishingstatus.replace(to_replace = 'semi-furnished',value = 1)
df.furnishingstatus = df.furnishingstatus.replace(to_replace = 'furnished',value =2)

In [9]:
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1                 2
1  12250000  8960         4  ...        3         0                 2
2  12250000  9960         3  ...        2         1                 1
3  12215000  7500         4  ...        3         1                 2
4  11410000  7420         4  ...        2         0                 2

[5 rows x 13 columns]

In [10]:
x = df[['area','bedrooms','bathrooms','stories','parking','mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus']]
y = df['price']

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [12]:
x_train.ndim

2

In [13]:
model.fit(x_train,y_train)

LinearRegression()

In [14]:
x_test.ndim

2

In [15]:
y_pred = model.predict(x_test)

In [17]:
print("The accuracy of the model is " + str(r2_score(y_test,y_pred)*100) + " %")

The accuracy of the model is 74.76065884997998 %